<div class="main">
    <div class="input-wraper">
        <label for="date-input">Time</label>
        <input type="text"  name="date-input" ccTimePicker >
    </div>
    <div>COVER ME</div>

    <div class="input-wraper">
        <label for="date-input">Time 2</label>
        <input type="text" name="date-input" ccTimePicker >
    </div>
    <div>COVER ME</div>

    <div class="input-wraper">
        <label for="date-input">type Number </label>
        <input type="number" name="date-input" ccTimePicker >
    </div>
    <div>COVER ME</div>
</div>

